<header>
  <div class="head">    
    <a [routerLink]="['/home']" class="pull-left"><img class="media-object" src="assets/imgs/logo-index.png" alt="logo"></a>
    <div class="pull-left">
        <h4 class="sys-name-cn">考勤管理平台</h4>
        <h4 class="sys-name-en">ATTENDANCE MANAGEMENT SYSTEM</h4>
    </div>
    <div class="text-right">
        <h5 class="wel-txt" >欢迎您， {{username}}  老师 </h5>
        <h5 class="datetime" >今天是{{weekday}}(本周是第{{week}}周) &nbsp&nbsp{{datetime}} <a [routerLink]="['logout']">注销</a></h5>
    </div>                         
  </div>
</header>  