<header>
  <div class="head">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="assets/imgs/logo-index.png" alt="logo">
                    </a>
                    <div class="media-body">
                        <h4 class="sys-name-cn">考勤管理平台</h4>
                        <h4 class="sys-name-en">ATTENDANCE MANAGEMENT SYSTEM</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <h5 class="wel-txt" >欢迎您， {{username}}  老师 </h5>
                <h5 class="datetime" >今天是{{weekday}}(本周是第{{week}}周) &nbsp&nbsp{{datetime}} </h5>
            </div>
        </div>
    </div>                         
  </div>
</header>  