<div class="nav-side">
  <a ui-sref="home" >
    <div class='nav-item'  id="home">
      <!--<a ui-sref="home"><img src="imgs/index-side.jpg">首页</a>-->
      <img src="{{imgHome}}">首页
    </div>
  </a>
  <a ui-sref="leave">
    <div class="nav-item"  id="leave" >
      <!--<a ui-sref="leave"><img src="imgs/leave.jpg">请假管理</a>-->
      <img src="{{imgLeave}}">请假管理
    </div>
  </a>
  <div class="attendance">
      <div class="nav-item {{attTextStyle}}" id="attendance">
          <!--<img id="att.img" src="imgs/att.jpg">考勤<img id="menu.img" class="dropdown" src="imgs/down-menu.png">-->
          <img id="att.img" src="{{imgAtt}}">考勤<img id="menu.img" class="dropdown" src="{{imgDropMenu}}">
      </div>
      <ul>
          <a ui-sref="attmanage">
            <li  id="attmanage" class="{{attManageTextStyle}}">考勤管理</li>
          </a>
          <a ui-sref="attreport">
            <li  id="attreport" class="{{attReportTextStyle}}">考勤报告</li>
          </a>
      </ul>
  </div>
  <a ui-sref="swapleave" >
    <div class="nav-item"  id="swapleave"  >
      <!--<a ui-sref="swapleave"> <img src="imgs/swap-leave.jpg">调休</a>-->
       <img src="{{imgSwapLeave}}">调休
    </div>
  </a>
  <a ui-sref="swapclass"><div class="nav-item"  id="swapclass" >
     <img src="{{imgSwapClass}}" >调代课
  </div></a>
</div>