<div class="nav-side">
  <a [routerLink]="['/home']" >
    <div class='nav-item' id="home" (click)="onClick('home')">
      <i [class.home-visited]="isHomeVisited"></i>
      <span [class.nav-text]="!isHomeVisited">首页</span>
    </div>
  </a>
  <a [routerLink]="['/leave']"  >
    <div class="nav-item" id="leave" (click)="onClick('leave')">
      <i [class.leave-visited]="isLeaveVisited"></i>
      <span [class.nav-text]="isLeaveVisited">请假管理</span>
    </div>
  </a>
  <div class="attendance">
      <div class="nav-item" id="attendance" (click)="menuDownUP()">
          <i [class.attendance-visited]="isAttVisited"></i>考勤<img id="menu.img" class="dropdown" [src]="isExpand?'assets/imgs/down-menu.png':'assets/imgs/up-menu.png'">
      </div>
      <ul [style.display]="isExpand?'none':'block'">
          <a [routerLink]="['/attendance/att-manage']" id="attmanage">
            <li [class.attendance-text]="isAttManageVisited"  (click)="onClick('att-manage')">考勤管理</li>
          </a>
          <a [routerLink]="['/attendance/att-report']" id="attreport">
            <li [class.attendance-text]="isAttReportVisited"  (click)="onClick('att-report')">考勤报告</li>
          </a>
      </ul>
  </div>
  <a [routerLink]="['/swap/swap-leave']" id="swapleave">
    <div class="nav-item"  (click)="onClick('swap-leave')">
       <i [class.swap-leave]="isSwapLeaveVisited" ></i>       
       <span [class.nav-text]="isSwapLeaveVisited">调休</span>
    </div>
  </a>
  <a [routerLink]="['/swap/swap-class']" id="swapclass">
    <div class="nav-item" (click)="onClick('swap-class')">
      <i [class.swap-class]="isSwapClassVisited"></i>
      <span [class.nav-text]="isSwapClassVisited">调代课</span>
    </div>
</a>
</div>