.filter-wrap .form-control{
    width:80%;
    display: inline-block;
}
.trim-right-padding{
    padding-right:0;
}
.toolbar .row{
    margin-top:1rem;
}
button.query{
    background-color: #49a1f9;
    color:#fff;
}
.leave-list{
    margin-top:1.5rem;
}