<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="first-col">节次/星期</th>
        <th>周一</th>
        <th>周二</th>
        <th>周三</th>
        <th>周四</th>
        <th>周五</th>
        <th>周六</th>
        <th>周日</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let scheduleDayList of scheduleList;let i=index">
        <th class="first-col">第{{i+1}}节</th>
        <td *ngFor="let scheduleDay of scheduleDayList;let j=index;">
            <div class="class-outer" [style.display]="scheduleDay[0]?'block':'none'">
                <a [routerLink]="['/home/att-seat']" [class.class-inner]="scheduleDay[0]">
                  <p>{{scheduleDay[0]}}</p>
                  <p>{{scheduleDay[1]}}</p>
                  <p>{{scheduleDay[2]}}</p>
                </a>              
            </div>
        </td>
      </tr>     
    </tbody>
  </table>
</div>