<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="first-col">节次/星期</th>
        <th>周一</th>
        <th>周二</th>
        <th>周三</th>
        <th>周四</th>
        <th>周五</th>
        <th>周六</th>
        <th>周日</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <th class="first-col">第一节</th>
          <td>
            <div class="class-outer">
              <a [routerLink]="['/home/att-seat']" class="class-inner">
                <p>16电子商务</p>
                <p>淘宝专业美工</p>
                <p>@1305实训室三</p>
              </a>              
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <th class="first-col">第二节</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <th class="first-col">第三节</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr class="first-col">
          <th>第四节</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
          <th class="first-col">第五节</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <th class="first-col">第六节</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <th class="first-col">第七节</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <th class="first-col">第八节</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
    </tbody>
  </table>
</div>