<app-class-info></app-class-info>
<div class="classroom">
  <table class="table">
    <tr *ngFor="let studentGroup of studentsList">
      <td *ngFor="let student of studentGroup">
        <div class="student" pDraggable="student" pDroppable="student" draggable="true" (onDragStart)="dragStart($event,student)" (onDrop)="drop($event,student)">
          <div class="name">{{student.stuName}}</div>
          <div class="no">{{student.stuNO}}</div>
          <div class="att-action" stuNO={{student.stuNO}} appSetAttendance>
            <span class="action-name" id="span{{student.stuNO}}">{{attActionList[student.attStatus]}}</span>
            <ul class="form-control" id="ul{{student.stuNO}}">
              <li>正常</li>
              <li>迟到</li>
              <li>严重迟到</li>
              <li>旷课</li>
              <li>早退</li>
            </ul>
            <div class="down-triangle"><span class="caret"></span></div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div class="teach-stage"></div>
</div>