<app-class-info></app-class-info>
<div class="att-list">
    <p-dataTable [value]="students" [rows]="10" [paginator]="true" (onPageChange)="paginate($event)" [pageLinks]="3" selectionMode="single" [rowsPerPageOptions]="[5,10,20]">
        <p-column styleClass="text-center">
            <ng-template pTemplate="header" >
                <span>序号</span>
            </ng-template>
            <ng-template let-student="rowData" pTemplate="body" let-i="rowIndex">
                <span>{{i+1}}</span>
            </ng-template>
        </p-column>
        <p-column styleClass="text-center" field="stuNO" header="学号" [sortable]="true"></p-column>
        <p-column styleClass="text-center" field="_className" header="班级"></p-column>
        <p-column styleClass="text-center" field="stuName" header="姓名"></p-column>
        <p-column >
            <ng-template pTemplate="header">
                考勤状态
            </ng-template>
            <ng-template let-student="rowData" pTemplate="body">
                <app-my-select stuNO={{student.stuNO}}></app-my-select>
            </ng-template>
        </p-column>      
    </p-dataTable>
    <!-- <p-paginator rows="10" totalRecords="100" (onPageChange)="paginate($event)"></p-paginator> -->
</div>
  